# Programaci√≥n para la Ciencia de Datos

## Guia 1

### Actividad 1

#### Importando el Dataset

In [6]:
#importar la libreria de Pandas
import pandas as pd

In [8]:
#Cargar el dataset de nuestro Csv
census_df=pd.read_csv('census_income.csv')

In [26]:
#Listamos nuestro set de datos
print(census_df)

          ID  age         workclass  fnlwgt  education  education-num  \
0          0   39         State-gov   77516  Bachelors             13
1          1   50  Self-emp-not-inc   83311  Bachelors             13
2          2   38           Private  215646    HS-grad              9
3          3   53           Private  234721       11th              7
4          4   28           Private  338409  Bachelors             13
...      ...  ...               ...     ...        ...            ...
48837  48837   39           Private  215419  Bachelors             13
48838  48838   64               NaN  321403    HS-grad              9
48839  48839   38           Private  374983  Bachelors             13
48840  48840   44           Private   83891  Bachelors             13
48841  48841   35      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation    relationship  \
0           Never-married       Adm-clerical   Not-in-family
1      Married-civ-spouse    Exec-managerial         Husband
2                Divorced  Handlers-cleaners   Not-in-family
3      Married-civ-spouse  Handlers-cleaners         Husband
4      Married-civ-spouse     Prof-specialty            Wife
...                   ...                ...             ...
48837            Divorced     Prof-specialty   Not-in-family
48838             Widowed                NaN  Other-relative
48839  Married-civ-spouse     Prof-specialty         Husband
48840            Divorced       Adm-clerical       Own-child
48841  Married-civ-spouse    Exec-managerial         Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
48837               White  Female             0             0              36
48838               Black    Male             0             0              40
48839               White    Male             0             0              50
48840  Asian-Pac-Islander    Male          5455             0              40
48841               White    Male             0             0              60

      native-country  income
0      United-States   <=50K
1      United-States   <=50K
2      United-States   <=50K
3      United-States   <=50K
4               Cuba   <=50K
...              ...     ...
48837  United-States  <=50K.
48838  United-States  <=50K.
48839  United-States  <=50K.
48840  United-States  <=50K.
48841  United-States   >50K.

[48842 rows x 16 columns]

In [12]:
#Cambiar el nombre de la primera Columna
#Esto lo hacemos para un mayor orden y visibilidad de los datos
census_df.columns.values[0]='ID'

In [14]:
#Definir tipo de variable por columna de nuestro dataset
dataType=census_df.dtypes
print(dataType)

ID                 int64
age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [15]:
#Cantidad de variables
cantidadVariables=census_df.count()
print(cantidadVariables)

ID                48842
age               48842
workclass         47879
fnlwgt            48842
education         48842
education-num     48842
marital-status    48842
occupation        47876
relationship      48842
race              48842
sex               48842
capital-gain      48842
capital-loss      48842
hours-per-week    48842
native-country    48568
income            48842
dtype: int64

In [16]:
#ValoresDistintos
valoresDist=census_df.nunique()
print(valoresDist)

ID                48842
age                  74
workclass             9
fnlwgt            28523
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        123
capital-loss         99
hours-per-week       96
native-country       42
income                4
dtype: int64

In [20]:
#ValoresNulos
valoresNull=census_df.isnull().sum()
print(valoresNull)

ID                  0
age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [24]:
# Resumen de Analisis
resumen = pd.DataFrame({
    'Tipo': dataType,
    'Cantidad de Valores': cantidadVariables,
    'Valores Distintos': valoresDist,
    'Valores Nulos': valoresNull
})

print(resumen)

                  Tipo  Cantidad de Valores  Valores Distintos  Valores Nulos
ID               int64                48842              48842              0
age              int64                48842                 74              0
workclass       object                47879                  9            963
fnlwgt           int64                48842              28523              0
education       object                48842                 16              0
education-num    int64                48842                 16              0
marital-status  object                48842                  7              0
occupation      object                47876                 15            966
relationship    object                48842                  6              0
race            object                48842                  5              0
sex             object                48842                  2              0
capital-gain     int64                48842                123              0
capital-loss     int64                48842                 99              0
hours-per-week   int64                48842                 96              0
native-country  object                48568                 42            274
income          object                48842                  4              0